#form {
  display: flex;
  flex-direction: column;
  margin: 5% 37% 5% 37%;
}
@media screen and (max-width: 768px) {
  #form {
    margin: 5%;
  }
}
.form-label {
  font-weight: bold;
  color: #666;
}
.button {
  background: var(--primeGreen) !important;
  color: white;
  border: none;
  height: 40px;
  border-radius: 5px;
  width: 100%;
}
