<form id="form">
  <h1 id="login-title">Faça seu login</h1>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">E-mail</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Digite aqui seu e-mail"
      required
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Senha</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Digite aqui sua senha"
      required
    />
  </div>
  <button type="button" class="btn btn-success">Entrar</button>
</form>
