<section class="py-3 my-4">
  <div class="container">
    <div class="container text-center">
      <h4 class="py-3"><b>Questionários <span class="bg-success-light p-2 text-white">cadastrados!</span></b></h4>
      <hr class="mb-4 pb-4"/>
      <div class="text-center py-3 my-3">
        <a class="btn btn-primary">Novo Questionário&nbsp;<i class="fa-solid fa-plus fa-beat hoverEfect" style="--fa-animation-duration: 2s;"></i></a>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Questionário</th>
            <th scope="col">Projeto</th>
            <th scope="col">Data de Criação</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let q of questionarios">
            <th scope="row">{{q.id}}</th>
            <td>{{q.questionario}}</td>
            <td>{{q.projeto}}</td>
            <td>{{q.datainc}}</td>
            <td><a style="cursor: pointer;"><i class="fa-regular fa-pen-to-square" data-toggle="tooltip" data-placement="right" title="Alterar"></i></a></td>
            <td><a style="cursor: pointer;"><i class="fa-solid fa-delete-left" data-toggle="tooltip" data-placement="right" title="Excluir"></i></a></td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
</section>

