.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.container h1 {
  margin: 20px 0 30px 0;
  font-family: "Alkalami", serif;
  font-size: 45px;
  color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}
@media screen and (max-width: 768px) {
  .container h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 405px) {
  .container h1 {
    font-size: 20px;
  }
}
#carouselExampleCaptions {
  width: 100%;
}
.accordion-button {
  background: var(--primeGreen) !important;
  color: white;
}
.d-block {
  max-height: 500px;
  opacity: 0.9;
}
.carousel-caption p {
  background-color: #000000;
  opacity: 0.7;
  font-weight: bold;
}
#accordion-container {
  display: flex;
  justify-content: center;
  margin: 3% auto 3% auto;
}
.accordion {
  width: 100%;
}
.accordion-item button {
  font-weight: bold;
  max-height: 80px;
}
.accordion-body {
  text-align: justify;
}
