<section class="bg-light py-3">
  <div class="container">
    <h1>Centro de Integração Social Francisco Cândido Xavier</h1>
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="false"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
      </div>
      <div class="carousel-inner" data-bs-ride="carousel">
        <div class="carousel-item active" data-bs-interval="5000">
          <img
            src="../../assets/images/ambiente.png"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <p>
              A instituição oferece oficinas de artesanato, distribuição de sopa
              e alimentos, além de atividades de cunho educativo como reforço
              escolar e educação ambiental.
            </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            src="../../assets/images/cozinha.png"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <p>
              São cerca de 100 voluntários envolvidos nas diversas atividades
              desenvolvidas no espaço físico da instituição.
            </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            src="../../assets/images/doacoes.png"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <p>O CISFCX atende aproximadamente 90 famílias.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            src="../../assets/images/parquinho.png"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <p>
              Com recursos pessoais foi construída uma estrutura onde hoje são
              realizadas atividades objetivando a promoção social das pessoas
              que residem próximas a instituição.
            </p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container" id="accordion-container">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Nossa Origem
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong
              >A origem do Centro de Integração Social Francisco Cândido
              Xavier</strong
            >
            se deve ao esforço de um grupo voluntário que iniciou seus trabalhos
            em meados dos anos 80 na região do Garimpo, micro localidade do
            bairro Santo Antônio da Barra. Tal grupo distribuía sopa, roupas e
            alimentos na rua, além de brincadeiras com as crianças da
            comunidade. Naquela época, o espaço para desenvolver trabalhos
            voltados à promoção da comunidade assistida era muito limitado.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            O Impacto Social
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>As regiões do Garimpo e da Rocinha,</strong> as principais
            impactadas pelo trabalho desenvolvido, são habitadas por famílias em
            situação de vulnerabilidade social, sendo que a maioria delas possui
            renda de até um salário-mínimo e baixa escolaridade. Além disso, em
            pesquisas realizadas pela instituição, constatou-se que há uma
            grande incidência de dependentes químicos (cerca de 40%), sendo que
            15% das famílias assistidas reportaram ter familiares que cumpriram
            medidas socioeducativas determinadas pelos órgãos de Justiça. Neste
            sentido, dentre diversos projetos executados junto à comunidade de
            Santo António da Barra, o CISFCX apoia à Escola Municipal Santo
            Antônio da Barra (EMSAB) através de diversas atividades como:
            reforço escolar, incentivo à leitura (projeto Leitura no Caminho),
            aulas de Educação Ambiental Agroecológica e Yoga em período letivo
            para os estudantes.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Os Projetos
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Dentre diversos projetos executados junto à comunidade de Santo
            António da Barra, o <strong>CISFCX</strong> apoia à
            <strong>Escola Municipal Santo Antônio da Barra (EMSAB)</strong>
            através de diversas atividades como: reforço escolar, incentivo à
            leitura (projeto Leitura no Caminho), aulas de Educação Ambiental
            Agroecológica e Yoga em período letivo para os estudantes.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
