<section id="section-register">
  <h1 id="title">Registre uma conta preenchendo as informações abaixo:</h1>
  <form id="form-register">
    <div id="name-lastname">
      <div class="container-name-lastname">
        <label for="name" class="form-label">Nome</label>
        <input
          id="name"
          type="text"
          placeholder="Digite seu nome"
          class="form-control"
          required
        />
      </div>
      <div class="container-name-lastname">
        <label for="lastname" class="form-label">Sobrenome</label>
        <input
          id="lastname"
          type="text"
          placeholder="Digite seu sobrenome"
          class="form-control"
          required
        />
      </div>
    </div>
    <label for="email" class="form-label">E-mail</label>
    <input
      id="email"
      type="email"
      placeholder="Digite um e-mail"
      class="form-control"
      required
    />
    <label for="password" class="form-label">Sua senha</label>
    <input
      id="password"
      type="password"
      placeholder="Digite uma senha"
      class="form-control"
      required
    />
    <button type="submit" class="button">Registrar conta</button>
  </form>
</section>
