#section-register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}
#title {
  font-weight: 300;
}
@media screen and (max-width: 808px) {
  #title {
    font-size: 30px;
  }
}
@media screen and (max-width: 711px) {
  #title {
    font-size: 25px;
    font-weight: 400;
  }
}
@media screen and (max-width: 593px) {
  #title {
    font-size: 20px;
    font-weight: 400;
  }
}
@media screen and (max-width: 498px) {
  #title {
    font-size: 15px;
    font-weight: 400;
  }
}
#form-register {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 30%;
}
@media screen and (max-width: 1267px) {
  #form-register {
    width: 40%;
  }
}
@media screen and (max-width: 954px) {
  #form-register {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  #form-register {
    width: 90%;
  }
}
#name-lastname {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 427px) {
  #name-lastname {
    justify-content: flex-start;
    flex-direction: column;
  }
}
.container-name-lastname {
  display: flex;
  flex-direction: column;
  width: 48%;
}
@media screen and (max-width: 427px) {
  .container-name-lastname {
    width: 100%;
  }
}
.form-label {
  font-weight: bold;
  color: #666;
}
.button {
  background: var(--primeGreen) !important;
  color: white;
  border: none;
  height: 40px;
  border-radius: 5px;
  width: 100%;
  margin-top: 5%;
}
