<section class="py-3 my-4">
  <div class="container">
    <div class="container text-center">
      <h4 class="py-3"><b>Pessoas <span class="bg-success-light p-2 text-white">cadastradas!</span></b></h4>
      <hr class="mb-4 pb-4"/>
      <div class="text-center py-3 my-3">
        <a class="btn btn-primary" (click)="newPerson()">Nova Pessoa&nbsp;<i class="fa-solid fa-plus fa-beat hoverEfect" style="--fa-animation-duration: 2s;"></i></a>&nbsp;
      </div>
      <table *ngIf="loadPerson()" class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Pessoa</th>
            <th scope="col">Documento Identificação</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of loadPerson() | async">
            <th scope="row">{{p.PersonId}}</th>
            <td>{{p.Name}}</td>
            <td>{{p.Cpf}}</td>
            <td><a style="cursor: pointer;" (click)="editPerson(p.PersonId)"><i class="fa-regular fa-pen-to-square" data-toggle="tooltip" data-placement="right" title="Alterar"></i></a></td>
            <td><a style="cursor: pointer;" (click)="deletePerson(p.PersonId)"><i class="fa-solid fa-delete-left" data-toggle="tooltip" data-placement="right" title="Excluir"></i></a></td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
</section>
