<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="px-5 navbar-brand" routerLink="">
      <img class="nav-image" ngbTooltip="Início" placement="right">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects" routerLinkActive="active">Meus Projetos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/questionary" routerLinkActive="active">Questionários</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Autenticar
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/login" routerLinkActive="active">Login &nbsp;<i class="fa-solid fa-right-to-bracket hoverEfect fa-beat-fade" style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;" aria-hidden="true"></i></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout &nbsp;<i class="fa-solid fa-right-from-bracket hoverEfect fa-beat-fade" style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;" aria-hidden="true"></i></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer bg-dark text-center text-lg-start text-white p-4">
  <div class="container">
    <div class="text-center">
      <h5><b>Sobre a <span class="bg-success-light p-2">plataforma:</span></b></h5>
      <br/>
      <i class="fa-solid fa-quote-left fa-2x fa-pull-left"></i>
      <p class="text-justify text-left">
        O objetivo do projeto é que o <b>Centro de Integração Social Francisco Cândido Xavier (CISFCX)</b> possa ter um local de gerenciamento dos projetos sociais mantidos por ele. <br/>
        O <b>SISGEP</b> é uma aplicação que será desenvolvida com o intuito de ser um portal gerenciador de projetos sociais mantidos pela instituição, para que seja possível ter uma melhor administração dos mesmos e ter visibilidade dos indicadores sobre as pessoas beneficiadas pela instituição, uma vez que a instituição não possui recursos tecnológicos nesse sentido.
      </p>
      <section class="mb-4">
        <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://www.instagram.com/casa_docaminho" role="button" data-toggle="tooltip" data-placement="bottom" title="Instagram">
          <i class="fa-brands fa-instagram fa-bounce hoverEfect" style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;"></i>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://www.youtube.com/channel/UCo-DFLlmDNKwAQ4_9yn2dmQ" role="button" data-toggle="tooltip" data-placement="bottom" title="Youtube">
          <i class="fa-brands fa-youtube fa-bounce hoverEfect" style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;"></i>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://github.com/gstvcastroc/SISGEP" role="button" data-toggle="tooltip" data-placement="bottom" title="Github">
          <i class="fa-brands fa-github fa-bounce hoverEfect" style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;"></i>
        </a>
      </section>
      © 2022 Copyright: SISGEP
    </div>
  </div>
</footer>
