<section class="py-3 my-4">
  <div class="container">
    <div class="container text-center">
      <h4 class="py-3"><b>Projetos <span class="bg-success-light p-2 text-white">Em Andamento</span></b></h4>
      <hr class="mb-4 pb-4"/>
      <div class="text-center py-3 my-3">
        <a class="btn btn-primary" (click)="newProject()">Novo Projeto&nbsp;<i class="fa-solid fa-plus fa-beat hoverEfect" style="--fa-animation-duration: 2s;"></i></a>&nbsp;
        <a class="btn btn-success" (click)="showDashboard()">Exibir Dashboard&nbsp;<i class="fa-solid fa-chart-simple fa-beat hoverEfect" style="--fa-animation-duration: 2s;"></i></a>
      </div>
      <table *ngIf="loadProjects()" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Projeto</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data Início</th>
            <th scope="col">Data Final</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of loadProjects() | async">
            <td>{{p.Name}}</td>
            <td>{{p.Description}}</td>
            <td>{{p.StartDate}}</td>
            <td>{{p.EndDate}}</td>
            <td><a style="cursor: pointer;" (click)="editProject(p.ProjectId)"><i class="fa-regular fa-pen-to-square" data-toggle="tooltip" data-placement="right" title="Alterar"></i></a></td>
            <td><a style="cursor: pointer;" (click)="deleteProject(p.ProjectId)"><i class="fa-solid fa-delete-left" data-toggle="tooltip" data-placement="right" title="Excluir"></i></a></td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
</section>
