:root {
  --hoverGreen: #6fab6d;
  --primeGreen: #437141;
}

.hoverEfect :hover {
 color: var(--hoverGreen);
}

.bg-success-light {
  background: var(--primeGreen) !important;
  border-radius: 19px 0px 19px 0px;
}

.nav-image {
  content: url("assets/images/logo.png");
  width: 100%;
  height: 100%;
}
