<div class="modal-header">
  <h5 class="modal-title">Alteração do Projeto</h5>
  <a
    role="button"
    class="btn close"
    data-dismiss="modal"
    (click)="closeModal('dismiss')"
  >
    <span class="close" data-bs-dismiss="modal" aria-label="Close"
      >&times;</span
    >
  </a>
</div>
<div class="modal-body">
  <form id="form">
    <div class="form-row">
      <div class="mb-3">
        <label for="lblNome">Nome</label>:
        <input
          type="text"
          class="form-control"
          id="inputEmail" [value]="name"
          placeholder="Nome do Projeto"
        />
      </div>
    </div>

    <div class="mb-3">
      <label for="descriptionProject" class="form-label">Descrição</label>
      <textarea
        class="form-control"
        id="descriptionProject"
        placeholder="Descrição detalhada do projeto" [value]="description"
        required
        rows="3"
      >
      </textarea>
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input
          mdbCheckbox
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckChecked"
          [checked]="active"
        />
        <label class="form-check-label" for="flexCheckChecked"
          ><b>Ativo?</b></label
        >
      </div>
    </div>
    <div class="mb-3">
      <label for="startDate" class="form-label">Data Início do Projeto</label>
      <input
        type="date"
        class="form-control"
        id="startDate" [value]="startDate | date:'yyyy-MM-dd'"
        placeholder="Informe a data de início do projeto"
        required
      />
    </div>
    <div class="mb-3">
      <label for="endDate" class="form-label">Data Final do Projeto</label>
      <input
        type="date"
        class="form-control"
        id="endDate" [value]="endDate | date:'yyyy-MM-dd'"
        placeholder="Informe a data final do projeto"
        required
      />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</div>
<div class="modal-footer"></div>
